.landingBody{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 3rem;
    background-color: white;
    color: black;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin-top: 4rem;
    position: sticky;
}
.heading{
    font-size: 3rem;
    font-weight: 600;
}
.body{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    opacity: 0.65;
}
.downloadBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.downloadBtns img{
    cursor: pointer;
}

/* lower part of landing */
.lowerImageConatiner{
    background-image: url("../assets/Testimonials.svg");
    background-repeat: no-repeat;
    background-position-x: center;
}

.holdingPhone{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-image: url("../assets/Testimonials.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
    width: 100vw;
    
}
.mainBackgroundImage{
    /* position: relative; */
    /* width: 45vw; */
    /* right: -100px; 
    top: 80px; */
    /* background-image: url("../assets/Testimonials.svg"); */
    
}
.screenImage{
    /* right: -9vw; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* .holdingPhone :nth-child(3){
    position: relative;
    top: -111vh;
} */

.navigationBtns{
    display: flex;
    justify-content: center; 
    position: relative;
    /* top: 63vh; */
    gap: 12px; 
    /* right: 9vw; */
    margin-top: 16px;
    background-color: #81EBAB;
    padding: 8px 20px;
    border-radius: 30px;
}
.screenAndBtn{
    display: flex;
    flex-direction: column;
    position: relative;
}

.navigationBtnsButton{
    width: 10rem;
    padding: 10px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}
.changingImages{
    width: 20.8vw;
}
.activeButton{
    background-color: #7C5BDA;
    color: white;
}

/* .TestimonialCard{
    position: relative;
    top: 30vh;
    right: 9vw;
    width: 60px;
} */


/* media queries */





@media (max-width: 1024px) {
    .landingBody {
        flex-direction: column;
        gap: 2rem;
    }

    .header {
        margin-top: 2rem;
        gap: 3vh;
    }

    .heading {
        font-size: 2.5rem;
    }

    .body {
        font-size: 1.25rem;
    }

    .downloadBtns {
        flex-direction: column;
        gap: 15px;
    }

    .mainBackgroundImage {
        width: 60vw;
        right: -50px;
        top: 60px;
    }



    .navigationBtns {
        top: 40vh;
    }

    .navigationBtnsButton {
        width: 8rem;
        padding: 8px 8px;
        
    }
    
}



@media (max-width: 940px) {
    .navigationBtns {
        top: 33vh;
    }

}



/* Small screens (mobile landscape) */
@media (max-width: 768px) {
    .landingBody {
        gap: 1.5rem;
    }

    .header {
        margin-top: 1rem;
        gap: 2vh;
    }

    .heading {
        font-size: 2rem;
    }

    .body {
        font-size: 1rem;
    }

    .mainBackgroundImage {
        width: 65vw;
        right: 0px;
        top: 40px;
    }


    .navigationBtns {
        gap: 10px;
        top: 20vh;
        /* left: -5vw; */
    }

    .navigationBtnsButton {
        width: 100%;
        padding: 5px 10px;
    }
   
}


@media (max-width: 540px) {
    .header {
        margin-top: 0.5rem;
        gap: 2.5vh;
        text-align: center;
    }
    .changingImages{
        top: 24vh !important;
        left: 14vw !important;
    }
    .navigationBtns {
        top: 11vh;
        left: 1vw;
    }
}

@media (max-width: 480px) {
    .landingBody {
        gap: 1rem;
    }

    .header {
        margin-top: 0.5rem;
        gap: 2.5vh;
        text-align: center;
    }

    .heading {
        font-size: 1.5rem;
    }

    .body {
        font-size: 0.9rem;
        padding: 0 5px;
    }

    .mainBackgroundImage {
        /* width: 80vw; */
        right: 0px;
        top: 20px;
    }

    .screenImage {
        width: 100%;
        top: -70vh;
        right: 0;
    }

    .navigationBtns {
        gap: 10px;
        top: 5vh;
        /* left: -5vw; */
    }
    .downloadBtns {
        flex-direction: column;
        gap: 10px;
    }


    .navigationBtnsButton {
        font-size: 0.9rem;
        padding: 5px 5px;
    }
    .screenImage{
        width: 30vw;
        height: 40vh;
    }
}


@media (max-width:330px) {
    .navigationBtns {
        top: 0vh;
    }
}






